<?xml version="1.0" encoding="UTF-8"?>
<details>
  <detail1 face="swap">
    <name></name>
    <description></description>
    <price></price>
    <value></value>
    <city></city> 
    <country></country> 
  </detail1>
  <detail2 face="contacts">
    <tel></tel>
    <cell></cell>
    <email></email>
  </detail2>  
  <detail3 face="other info">
    <business-type></business-type>
    <guid></guid>
  </detail3>  
  <detail4 face="password">
    <password></password>
  </detail4>
</details>